:root {
    --bg-color-light: #fff;
    --text-color-light: #000;
    --bg-color-dark: #343a40;
    --text-color-dark: #fff;
}

body {
    background-color: var(--bg-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.navbar-light.bg-light {
    background-color: var(--bg-color-light) !important;
}

.navbar-dark.bg-dark {
    background-color: var(--bg-color-dark) !important;
}

#showcase {
    background-color: var(--bg-color-dark);
}

footer {
    background-color: var(--bg-color-dark);
}
